.article {
  /* color: #fff */
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.container:nth-child(even) {
  background: #fff;
  margin-right: 0;
  margin-left: auto;
}

.img-container {
  margin: 10% 0;
  height: 70%;
  position: relative;
  color: #fff;
}

img {
  height: 60%;
  width: 60%;
}


.mask {
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  background: #131313;
  overflow: hidden;
}

@media screen and (max-width: 500px) {}